*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;

}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: url(images/e-commerce.jpeg); */
    background-size: cover;
    /* text-align: center; */
    color: black;
    background-color: gray;
}



.heading {
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    /* width: 50%;  */
    width: 23%;
    /* height: 70%; */
    text-align: center;
    box-shadow:  0 0 4px 3px black;
    margin-bottom: 2em;
    padding: 1.5em;
}
.card-body{
    width: 100%;
}
.card-img-top{
    /* object-fit: cover; */
    width: 100%;
    height: 200px;
}

.card-title{
    font-size: 20px;
    margin-bottom: 3px;
}

.description, .category, .price .rating{
    text-transform: capitalize;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
}

button{
    color: wheat;
    background-color: blue;

}

